@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}

#root {
	width: 100vw;
}

.app {
	width: 100%;
}

section {
	max-width: 1140px;
}